<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="swagger" title="msg://de.bytestore.swaggerui/menu.addon">
        <item view="swagger_ApiDocs" id="api-docs" title="msg://de.bytestore.swaggerui.view.apidocs/apiDocs.title"
              icon="vaadin:code"/>
    </menu>

</menu-config>
